body {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    margin: 0px;
}
.header {
    display: flex;
    background-color: #1D2124;
    width: 100%;
    height: 70px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.logo {
    height: 70px;
    width: 69px;
    background-color: #1A1D20;
    text-align: center;
}
.logo:hover {
    cursor: pointer;
}
.logo_img {
    margin: 21px;
}
.header_flex {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin: auto;
    color: #ffffff;
    text-transform: uppercase;
}
.header_flex > p {
    margin: 29px 0px;
    font-size: 15px;
}
.header_flex > p:hover {
    cursor: pointer;
}
.header > p {
    margin: 25px 0px;
    font-size: 22px;
}
.search {
    height: 70px;
    width: 69px;
    background-color: #1A1D20;
    text-align: center;
    margin-left: 160px;
}
.search_img {
    margin: 26px;
}
.search:hover {
    cursor: pointer;
}
.head_bg {
    background-image: url(../images/header-bg-img.png);
    width: 100%;
    height: 375px;
    font-size: 27px;
    color: #ffffff;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}
.bg {
    background-color: rgba(0, 0, 0, 0.2);
    height: 375px;
    width: 100%;
    background-attachment: fixed;
}
.subscribe {
    width: 170px;
    height: 55px;
    background-color: #89CA62;
    font-size: 18px;
    color: #ffffff;
    outline: none;
    border-radius: 7px;
}
.subscribe > p {
    margin: 8px;
}
.best {
    width: 170px;
    height: 55px;
    background-color: #14B9D5;
    font-size: 18px;
    color: #ffffff;
    outline: none;
    border-radius: 7px;
    text-align: center;
}
.best > p {
    margin: 0px 20px 0px 20px;
}
.bg > p {
    padding: 127px 0px 44px 0px;
}
button:hover {
    cursor: pointer;
}
.posts {
    font-size: 27px;
    color: #18B4CF;
    text-align: center;
    background-color: #F2F2F2;
}
.posts > p {
    padding: 60px 0px 52px 0px;
    text-transform: uppercase;
    font-weight: 700;
}
.post {
    display: flex;
    justify-items: center;
    flex-direction: column;
    max-height: 880px;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}
.post > div {
    text-align: center;
    font-size: 16px;
    color: #353A3D;
    background-color: #FFFFFF;
    font-weight: 600;
    margin-right: 30px;
    margin-bottom: 30px;
}
.post > div:hover {
    cursor: pointer;
}
.post > div > p {
    margin: 21px 54px;
}
.post > div {
    width: 370px;
}
.layers {
    background-image: url(../images/center_bg.png);
    font-size: 32px;
    color: #FFFFFF;
    width: 100%;
    background-position: center;
    height: 628px;
    background-attachment: fixed;
    background-size: cover;
}
.dark {
    background-color: rgba( 0, 0, 0, 0.3);
    text-align: center;
    height: 628px;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    max-width: 1170px;
    text-align: center;
    margin: 0 auto;
}
.logo_wrapper {
    display: flex;
}
.logo_wrapper > p {
    margin-top: 25px;
}
.dark > p {
    padding: 211px 0px 55px 0px;
    text-transform: uppercase;
    font-weight: 700;
}
.line {
    height: 3px;
    width: 60px;
    background-color: #169CB4;
    margin: 0 auto;
}
.layers_logo {
    display: flex;
    width: 881px;
    justify-content: space-between;
    margin: 60px auto 197px;
}
.kolash {
    color: #18B4CF;
    font-size: 27px;
    text-align: center;
}
.kolash > p {
    margin: 62px 0px 52px 0px;
    text-transform: uppercase;
    font-weight: 700;
}
.fotos {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.fotos > img {
    width: 100%;
}
.container {
    color: #18B4CF;
    font-size: 27px;
}
.container > p {
    margin-top: 60px;
    margin-bottom: 51px;
    text-transform: uppercase;
    font-weight: 700;
}
.grid_hotels {
    display: grid;
    grid-gap: 35px;
    justify-items: center;
    text-align: center;
    margin: 0 auto;
    grid-template-areas: 
    "hotel1 hotel1 hotel1 hotel1 hotel2 hotel2"
    "hotel3 hotel3 hotel3 hotel4 hotel4 hotel4"
    "hotel5 hotel5 hotel5 hotel6 hotel6 hotel6"
    "hotel7 hotel7 hotel8 hotel8 hotel8 hotel8";
}
.grid_hotels > div {
    background-color: #F9F7F7;
    text-align: right;
    color: #5B6469;
    font-size: 14px;
}
.hotel1 {
    grid-area: hotel1;
    font-size: 14px;
}
.hotel1 > img {
    float: left;
}
.hotel2 {
    grid-area: hotel2;
    font-size: 18px;
    text-align: center;
}
.hotel2 > p {
    margin: 15px 42px;
    color: #353A3D;
}
.hotel3 {
    grid-area: hotel3;
    margin-right: 25px;
}
.hotel4 {
    grid-area: hotel4;
}
.hotel5 {
    grid-area: hotel5;
    margin-right: 25px;
}
.hotel6 {
    grid-area: hotel6;
}
.hotel7 {
    grid-area: hotel7;
    margin-right: 25px;
}
.hotel7 > img {
    width: 100%;
}
.hotel8 {
    grid-area: hotel8;
}
.hotel1 > p {
    margin-left: 480px;
}
.hotel8 > p {
    margin-left: 480px;
}
.hotel_name {
    font-size: 18px;
    margin: 41px 0px 22px 0px;
    color: #353A3D;
    margin-right: 27px;
    margin-left: 240px;
}
.hotel_name2 {
    margin: 20px 0px 2px 0px;
    margin-right: 27px;
    font-size: 18px;
}
.hotel8 > img {
    float: left;
    height: 100%;
}
.hotel7 > p {
    margin: 7px 42px;
    font-size: 18px;
    color: #353A3D;
}
.grid_hotels > div > p {
    margin-right: 27px;
    padding-left: 24px;
}
.grid_hotels > div:hover {
    cursor: pointer;
}
.footer {
    margin-top: 71px;
    height: 80px;
    width: 100%;
    text-align: center;
    display: flex;
    background-color: #1D2124;
}
.footer > p {
    margin: 33px auto;
    color: #F0F0F0;
}
.footer_logo {
    height: 24px;
    width: 105px;
    margin: 29px auto;
}
button {
    border: none;
}
.hotel1 > p {
    padding-bottom: 0px;
}
.hotel8 > p {
    padding-bottom: 0px;
}
.hotel3 > p{
    padding-bottom: 20px;
}
.hotel4 > p{
    padding-bottom: 20px;
}
.hotel5 > p{
    padding-bottom: 20px;
}
.hotel6 > p{
    padding-bottom: 20px;
}